---
import "../styles/global.css";
import {
  type CollectionEntry,
  type AnyEntryMap,
  getCollection,
} from "astro:content";

import { Footer } from "@/components/Footer";
import { Header } from "@/components/Header";
import { About } from "@/components/Sections/About";

const zennCollections: CollectionEntry<keyof AnyEntryMap>[] =
  await getCollection("zenn");
const articles = zennCollections.slice(0, 6);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <About />
    <Footer />
  </body>
</html>
